@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka Nerd Font;
}

window#waybar {
    background-color: alpha(@base, 0.5);
    color: #ffffff;
}

