@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka Nerd Font Propo;
}

window#waybar {
    background-color: @base;
    color: #ffffff;
}

/*
#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #ffffff;
}
*/

#workspaces button {
    padding: 0px;
    background: transparent;
    margin: 2px 2px 3px 0;
    border-radius: 2px;
    color: @text;
}

#workspaces button.active {
    background: @red;
    color: @base;
}

#workspaces button.urgent {
    background: rgb(255, 0, 0);
    color: @base;
}

#battery,
#bluetooth,
#network,
#cpu,
#memory,
#clock,
#volume {
    border-radius: 2px;
    padding: 0 8px;
    background: @surface0;
    margin: 2px 0px 3px 2px;
}

#pulseaudio-slider {
    padding: 0px;
    margin: 0px 0px 0px 8px;
}

#pulseaudio-slider slider {
    all: unset;
}

#pulseaudio-slider trough {
    min-height: 4px;
    min-width: 75px;
    border-radius: 2px;
    background: @base;
}

#volume:hover #pulseaudio-slider trough,
#volume:active pulseaudio-slider trough {
    min-height: 8px;
}

#pulseaudio-slider highlight {
    min-width: 4px;
    border-radius: 2px;
    background: @text;
}

