@import "catppuccin-mocha"

* {
    font:           "Iosevka Nerd Font 12";
    lightfg:        @text;
    lightbg:        @base;
    background:     @base;
    foreground:     @text;
    selected-normal-background: @red;
}

