@import "catppuccin-mocha"

* {
    font:                       "Iosevka Nerd Font 12";
    background:                 rgba(0, 0, 0, 0.7);
    background-color:           transparent;
    foreground:                 #ffffff;
    lightfg:                    #ffffff;
    lightbg:                    transparent;
    selected-normal-background: @blue;
}

scrollbar {
    handle-color:               @blue;
}

element normal.normal {
    background-color:           transparent;
}

element selected.normal {
    text-color:                 @background;
}

entry {
    placeholder: "";
}

